# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
apps/*/ios
apps/*/android

# Firebase
google-services.json
GoogleService-Info.plist
firebase-service-account.json
**/firebase-service-account.json

# Environment files
.env
apps/backend/.env
apps/customer/.env
apps/vendor/.env

# SQLite databases
db.sqlite3
*.sqlite3

# Python
**/venv/
venv/
**/*.pyc
**/__pycache__/
*.pyc
__pycache__/

# Django Media
**/media/
apps/backend/media/

